.card {
    width: 400px;
    min-height: 200px;
    border: 2px solid grey;
    margin: 0 auto;
    margin-top: 70px;
    
}

    .card-header {
        min-height: 50px;
        background-color:seagreen;
        position: relative;
        }
    
.carder {
    border-radius: 50%;
    background-color:white;
    width:-5px;
    height: 50px;
    border: 2px solid white;
    position: absolute;
    top: 25px;
    left: 25px;

}
    .card-body {
    padding: 1.5em;
}
.user {
    width: 46px;
    border-radius: 50%;
    

}
 
.gear {
    height: 15px;
}

.pin {
    height: 15px;
}